@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center jumbotron justify-content-center">
    <h1 class="display-4">BNU CO550 Razor Movies</h1>
    <h4>Developed by Louis Symons</h4>
</div>